body,html{
    height:100%;
    margin:0;
    padding: 0;
}
.check-in{
  font-style: 'Open Sans';
  font-size: 50px;
  background-color: slateblue;
  margin: 0;

}
.background{
    margin: 0;
    padding: 0;
    background: red;

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.button2{
    position: relative;left: 540px; top: -570px;
    font-style: 'Open Sans';
    font-size: 25px;
}

 .circle{
     
    width: 100px;
    height: 100px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50px;
    background: linear-gradient(-60deg, #8c1d40 50%, #ffc627 50%);
    position: relative; left: 600px; top: -225px;
 }
.Sparky{
  position: relative; left:650px; top:-200px;
  margin: 0;
  padding:0;
}

.loading{
   position: relative; left:500px; top:-550px;
 }

.output{
  position: relative;left:625px; top:-200px;
  font-style: 'Open Sans';
  font-size: 30px;
}

#reader{
  position:relative; top:100px;left:500px;
  width: 300px;
  height:200px;
}

.image-Phone{
  position: relative; left: -50px;top:-230px; 
}

#control-center{
  background-color:snow;
}